body {
    font-family: Source Sans Pro;
    background-color: #90ccfd;
    color: #2D363D;
}

h1, h2, h3, h4, h5, h6 {
    font-family: PT Sans;
    text-align: center;
}

h1 {
    font-size: 35pt;
}

header {
    text-align: center;
}


/*Profile Section*/

#profile {
    color: #21384A;
    border: 5px solid #b38130;
    background-color: #67AFEB;
    padding-top: 30px;
    text-align: center;
}

#profile img {
    width: 300px;
    border: 5px solid #b38130;
}


/* Bio Section */

#bio {
    list-style-position: inside;
    text-align: center;
}


/* Hobbies Section */

#hobbies ul {
    color: #21384A;
    background-color: #67AFEB;
    border: 5px solid #b38130;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}   

#hobbies ul li:nth-child(3n+1) {
    color:rgb(221, 25, 107);
}

#hobbies ul li:nth-child(3n+2) {
    color:rgb(205, 25, 221);
}

#hobbies ul li:nth-child(3n+3) {
    color:rgb(127, 29, 219);
}

#hobbies ul li:nth-child(n+8) {
    color:#21384A;
}


/* Gallery Section */

#gallery {
    border: 5px solid #b38130;
    background-color: #67AFEB;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
    color:rgb(221, 25, 107)
}


/* Literature */
#lit {
    background-color: #67AFEB;
    border: 5px solid #b38130;
    margin-bottom: 2rem;
}

#hover_mobile {
    width:150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#lit div {
    padding-top: 0.25rem;
    padding-bottom: 2rem;
    max-width: 30rem;
    margin: 0 auto;
    padding-left: 18px;
}


#lit div p:first-child::first-letter {
    font-family: Ephesis;
    font-size: 3em;
    padding: .1em;
    line-height: 0.65;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Footer Section */

footer {
    color: #21384A;
    border: 5px solid #b38130;
    background-color: #67AFEB;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Video Section */

#video {
    border: 5px solid #b38130;
    background-color: #67AFEB;
    margin-bottom: 2rem;
    padding: 10px;
}

#video iframe {
    display:block;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

#video p {
    text-align: center;
}

/* Contact Form */
#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #b38130;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

legend {
    background-color: #b38130;
    color: black;
    padding: .4em;
    border-radius: 2rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: .5rem;
}

#contact button {
    background-color: #b38130;
    color: black;
    border: 1px solid #2D363D;
    max-width: 300px;
    width: 50%;
    justify-self: center;
}

/* Tablet Sizing/Styling */

@media screen and (min-width: 960px) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;
    }

}

/* Laptop Sizing/Styling */

@media screen and (min-width: 1600px) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    h2 {
        grid-column: 1/-1;
    }

    #gallery figure {
        display: block;
        
    }

    #gallery figure img {
        height: 318px;
        width: auto;
    }

    hr {
        display: none;
    }

    #contact {
        max-width: 800px;
    }

    #hover_mobile {
        display: none;
    }
 
    
}