body {
    font-family: Source Sans Pro;
    background-color: #90ccfd;
    color: #2D363D;
}

h1, h2, h3, h4, h5, h6 {
    font-family: PT Sans;
    text-align: center;
}

h1 {
    font-size: 35pt;
}

header {
    text-align: center;
}


/*Profile Section*/

#profile {
    color: #21384A;
    border: 5px solid #b38130;
    background-color: #67AFEB;
    padding-top: 30px;
    text-align: center;
}

#profile img {
    width: 300px;
}


/* Bio Section */

#bio {
    list-style-position: inside;
    text-align: center;
}


/* Hobbies Section */

#hobbies ul {
    color: #21384A;
    background-color: #67AFEB;
    border: 5px solid #b38130;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}   

#hobbies ul li:nth-child(3n+1) {
    color:rgb(221, 25, 107);
}

#hobbies ul li:nth-child(3n+2) {
    color:rgb(205, 25, 221);
}

#hobbies ul li:nth-child(3n+3) {
    color:rgb(127, 29, 219);
}

#hobbies ul li:nth-child(n+8) {
    color:#21384A;
}


/* Gallery Section */

#gallery {
    border: 5px solid #b38130;
    background-color: #67AFEB;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
    color:rgb(221, 25, 107)
}


/* Literature */
#lit {
    background-color: #67AFEB;
    border: 5px solid #b38130;
    margin-bottom: 2rem;
}

#lit div {
    padding-top: 0.25rem;
    padding-bottom: 2rem;
    max-width: 30rem;
    margin: 0 auto;
    padding-left: 18px;
    text-indent: -18px;
}


#lit div p:nth-child(n)::first-letter {
    font-family: Ephesis;
    font-size: 3em;
    padding: .1em;
    line-height: .65;
}

/* Footer Section */

footer {
    color: #21384A;
    border: 5px solid #b38130;
    background-color: #67AFEB;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}



/* Tablet Sizing/Styling */

@media screen and (min-width: 960px) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
}